@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import "../../src/lib/assets/sanzo-palettes.css";

:root, [visual-theme="dark"] {
    --color-primary: hsl(from var(--theme-primary) h s calc(100 - l));
    --color-secondary: hsl(from var(--theme-secondary) h s calc(100 - l));
    --color-accent: hsl(from var(--theme-accent) h s calc(100 - l));

    --color-background: hsl(from var(--theme-primary) h s 2%);
    --color-background-notice: hsl(from var(--theme-primary) h s 6%);
    --color-text: hsl(from var(--theme-primary) h s 98%);
}

[visual-theme="light"] {
    --color-primary: var(--theme-primary);
    --color-secondary: var(--theme-secondary);
    --color-accent: var(--theme-accent);

    --color-background: hsl(from var(--theme-primary) h s 98%);
    --color-background-notice: hsl(from var(--theme-primary) h s 94%);
    --color-text: hsl(from var(--theme-primary) h s 2%);
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.icon {
    stroke: var(--color-primary);
}