@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import "../../src/lib/assets/sanzo-3-palettes.css";

:root, [visual-theme="dark"] {
    --color-primary: hsl(from var(--theme-primary) h s calc(100 - l));
    --color-secondary: hsl(from var(--theme-secondary) h s calc(100 - l));
    --color-accent: hsl(from var(--theme-accent) h s calc(100 - l));

    --color-background: hsl(from var(--theme-primary) h s 2%);
    --color-background-notice: hsl(from var(--theme-primary) h s 6%);
    --color-text: hsl(from var(--theme-primary) h s 98%);
}

[visual-theme="light"] {
    --color-primary: var(--theme-primary);
    --color-secondary: var(--theme-secondary);
    --color-accent: var(--theme-accent);

    --color-background: hsl(from var(--theme-primary) h s 98%);
    --color-background-notice: hsl(from var(--theme-primary) h s 94%);
    --color-background-hover: hsl(from var(--theme-primary) h s l / 0.1);
    --color-text: hsl(from var(--theme-primary) h s 2%);
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.notice-text {
    font-weight: bold;
    font-size: 1.2rem;
}

.icon {
    stroke: var(--color-primary);
}

.header {
    display: grid;
    grid-template-rows: max-content max-content;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1em;
}
.header-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card {
    background: var(--color-background-notice);
    padding: 1rem;
    border-radius: 0.5rem;
}